

#kontakt
{
	
	background-color: gray;
	position: relative;
		display: -ms-flexbox;
		display: flex;
		padding: 1rem;
		-ms-flex-direction: column;
		flex-direction: column;
	
		pointer-events: auto;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.2);
		border-radius: 1.1rem;
		outline: 0;
		max-width: 500px;

}
#kontakt:hover
{
	background-color: indigo;
	color: white;

}
.form-group
{
	text-align: center;
}
h1
{
	
	color: indigo;
	height: 100px;
	padding: 40px 0 0 50px;

}
.btn
{
	border-radius: 75px;
}